---
import {Image} from "astro:assets"
import Logo from "/src/assets/images/logo.png"
import siteData from "../config/siteData"
// import LogoSquare from "/src/assets/images/logo-square.png"

interface Props {
    loading?: "eager" | "lazy" | null
}

const {loading = "lazy"} = Astro.props
---

<a href="/" class="flex items-center">
    <!--Square Logo with Text Site Title-->
    <!--<Image-->
    <!--    src={LogoSquare}-->
    <!--    loading={loading}-->
    <!--    class="mr-3 h-8 sm:h-12"-->
    <!--    height="64"-->
    <!--    width="64"-->
    <!--    alt={siteData.description}-->
    <!--/>-->
    <!--<span-->
    <!--    class="self-center whitespace-nowrap text-xl font-semibold dark:text-white"-->
    <!--    >{siteData.description}</span-->
    <!--&gt;-->

    <!--Full Logo-->
    <Image
        src={Logo}
        width="175"
        loading={loading}
        class="mr-3"
        alt={siteData.description}
    />
</a>
