---
import {Picture} from "astro:assets"
// import Logo from "/src/assets/images/logo.png"
import desdinovaConfig from "../config/desdinova-config"
import LogoSquare from "/src/assets/images/logo-square.png"

interface Props {
    loading?: "eager" | "lazy" | null
    alt?: string
}

const url = new URL(Astro.url)
const {loading = "lazy", alt = desdinovaConfig.name} = Astro.props
---

<a href={url.origin}>
    <!--Square Logo with Text Site Title-->
    <Picture
        src={LogoSquare}
        densities={[1.5, 2]}
        loading={loading}
        class="mr-3"
        height="64"
        width="64"
        alt={alt}
    />
    <span
        class="self-center whitespace-nowrap text-xl font-semibold dark:text-white"
        >{desdinovaConfig.name}</span
    >

    <!--Full Logo-->
    <!--<Picture-->
    <!--    src={Logo}-->
    <!--    densities={[1.5, 2]}-->
    <!--    width="175"-->
    <!--    loading={loading}-->
    <!--    class="mr-3"-->
    <!--    alt={desdinovaConfig.name}-->
    <!--/>-->
</a>
