---
import {Image} from "astro:assets"
import Logo from "/src/assets/images/logo.png"
// import LogoSquare from "/src/assets/images/logo-square.png"

import {SITE_DESCRIPTION} from "../../site.config.mjs"

interface Props {
    loading?: "eager" | "lazy" | null
}

const {loading = "lazy"} = Astro.props
---

<a href="/" class="flex items-center">
    <!--Square Logo with Text Site Title-->
    <!--<Image-->
    <!--    src={LogoSquare}-->
    <!--    loading={loading}-->
    <!--    class="mr-3 h-10 w-10"-->
    <!--    alt={SITE_DESCRIPTION}-->
    <!--/>-->
    <!--<span-->
    <!--    class="self-center whitespace-nowrap text-xl font-semibold dark:text-white"-->
    <!--    >{SITE_DESCRIPTION}</span-->
    <!--&gt;-->

    <!--Full Logo-->
    <Image
        src={Logo}
        width="150"
        loading={loading}
        class="mr-3"
        alt={SITE_DESCRIPTION}
    />
</a>
